/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 100;
  font-size: 3rem;
  text-align: center;
  background: #011a21; }

.wrapper
.screen {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: #BCFDFF;
  background-color: #012E3A;
  border-bottom: 1px solid #0E5163;
  padding: 2%; }
  .wrapper
  .screen:after {
    content: " ";
    display: block;
    clear: both; }

.showOperations {
  font-size: 2rem;
  color: #F2F6F6;
  text-align: right; }

.result {
  font-size: 7rem;
  text-align: right;
  padding-top: 2%;
  overflow: hidden; }

.resultScreen {
  overflow: scroll; }

.wrapper {
  margin: 0 auto; }
  @media screen and (min-width: 1024px) {
    .wrapper {
      width: 80%;
      margin: 0 auto;
      margin-top: 1%;
      border: 1px solid #0E5163; } }

.controls {
  background-color: #122125;
  color: #BCFDFF;
  overflow: auto; }

.numpad {
  width: 23.07692%;
  float: left;
  background-color: #122125;
  cursor: pointer;
  padding-top: 2%;
  padding-bottom: 1%;
  box-sizing: content-box; }
  .numpad:nth-child(4n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0; }
  .numpad:nth-child(4n + 2) {
    margin-left: 25.64103%;
    margin-right: -100%;
    clear: none; }
  .numpad:nth-child(4n + 3) {
    margin-left: 51.28205%;
    margin-right: -100%;
    clear: none; }
  .numpad:nth-child(4n + 4) {
    margin-left: 76.92308%;
    margin-right: -100%;
    clear: none; }
  .numpad:hover:not(.empty) {
    color: #acdadc;
    background-color: #1a3036; }
  .numpad:active:not(.empty) {
    background-color: #007c9d;
    color: #002223; }

.empty {
  cursor: default; }

.operation:not(.percentage) {
  color: #F2F6F6;
  background-color: #0E5163; }
